<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contest</title>
    <link rel="stylesheet" href="../Css/eui.css">
    <link rel="stylesheet" href="../Css/allStyle.css">
    <link rel="stylesheet" href="../Css/font-awesome.min.css">
    <script src="../Js/jquery-1.12.4.min.js"></script>
    <script src="../Js/vue.js"></script>
    <script src="../Js/eui.js"></script>
    <script src="../Js/myJs/contest.js"></script>
</head>
<body>
<img src="../Images/load.gif" alt="" class="load">
<script>$('.load').animate({'opacity':0.3});</script>
<el-container id="contest">
    <el-header class="head" style="background-color: #F8F8F8;">
        <el-row>
            <el-col :span="4">
                <a :href="brandLink" class="brand">{{brand}}</a>
            </el-col>
            <el-col :span="5"  style="position: relative;top:5px;">
                <el-input
                        placeholder="请输入内容"
                        v-model="input1"
                        clearable>
                </el-input>
            </el-col>
            <el-col :span="1" class="search-btn" style="position: relative;top:5px;">
                <el-button type="primary" icon="search">搜索</el-button>
            </el-col>
            <el-col :span="14">
                <el-menu  class="el-menu-demo dropdown" mode="horizontal" @select="handle" style="background-color: #F8F8F8;float:right;">
                    <el-submenu index="1">
                        <template slot="title">root</template>
                        <el-menu-item index="1-1">submission</el-menu-item>
                        <el-menu-item index="1-2">administration</el-menu-item>
                        <el-menu-item index="1-3">exit</el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-col>
        </el-row>
    </el-header>

    <el-container class="contain">
        <el-aside class="leftNav" style="width:205px;">
            <el-row>
                <el-col :span="24">
                    <div  style="text-align: center;margin-bottom: 40px;margin-top: 20px;">
                        <a href="#" @click="pp()"><img width="150px" height="150px" :src="imgSrc" alt="暂无图片" style="border-radius: 50%;"/></a>
                    </div>
                    <el-menu
                            default-active="4"
                            class="el-menu-vertical-demo"
                            @select="handleSelect"
                            background-color="#1C2B36"
                            text-color="#447B81"
                            active-text-color="antiquewhite"
                    >
                        <el-menu-item index="1" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-list" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">题库</span>
                        </el-menu-item>

                        <el-menu-item index="2" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-bar-chart-o" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">排名</span>
                        </el-menu-item>

                        <el-menu-item index="3" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-hand-o-right" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">提交</span>
                        </el-menu-item>

                        <el-menu-item index="4" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-rocket" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">比赛</span>
                        </el-menu-item>

                        <el-menu-item index="5" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-question-circle" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">帮助</span>
                        </el-menu-item>

                        <el-menu-item index="6" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-gears" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">设置</span>
                        </el-menu-item>

                    </el-menu>
                </el-col>
            </el-row>
        </el-aside>
        <el-main class="rightContent">
           <div style="box-shadow: #444 0px 0px 1px;">
               <el-row class="head">
                   <div style="position: relative;top:8px;lef:0px;" class="pull-left">
                       <div class="title"><span>Contest</span></div>
                   </div>
                   <div style="position: relative;top:10px;" class="pull-right">
                       <el-col :span="16">
                           <el-input
                                   placeholder="请输入内容"
                                   v-model="input1"
                                   size="medium"
                                   clearable>
                           </el-input>
                       </el-col>
                       <el-col :span="1" class="search-btn">
                           <el-button size="medium" icon="search">搜索</el-button>
                       </el-col>
                   </div>

               </el-row >
               <el-row class="content">
                   <div class="row_" v-for="(item,index) in tb_content">
                       <img src="../Images/medal.png" alt="" style="left:30px;top: 8px;position:relative;width: 50px;" class="pull-left">
                       <div class="pull-left" style="position: relative;left: 60px;top: 8px;">
                           <span style="font-size: medium;"><a :href="item.href">{{item.title}}</a></span>
                           <div style="position: relative;top:15px;font-size: small;color:#444;">
                               <i class="fa fa-calendar"></i>
                               <span>{{item.date}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                               <i class="fa fa-dashboard"></i>
                               <span>{{item.time}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                               <i v-show="item.lock" class="fa fa-lock"></i>
                           </div>
                       </div>

                       <el-badge :value="200" :max="99" class="item pull-right" style="position: relative;right: 60px;top: 20px;">
                           <el-button size="small" class="ecoder-btn-hover-shadow" v-show="item.status=='Starting'" style="background-color: #5CB85C;color:white;">{{item.status}}</el-button>
                           <el-button size="small" class="ecoder-btn-hover-shadow" v-show="item.status=='Waiting'" style="background-color:#5BC0DE;color:white;">{{item.status}}</el-button>
                           <el-button size="small" class="ecoder-btn-hover-shadow" v-show="item.status=='Ended'" style="background-color: #777777;color:white;">{{item.status}}</el-button>
                       </el-badge>
                   </div>
               </el-row>
           </div>
            <div>
                <el-row>
                    <div class="block pull-right">
                        <el-pagination
                                background
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page.sync="currentPage3"
                                :page-size="100"
                                layout="prev, pager, next, jumper"
                                :total="1000">
                        </el-pagination>
                    </div>
                </el-row>
            </div>
        </el-main>
    </el-container>

</el-container>
</body>
</html>