<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>problem</title>
    <link rel="stylesheet" href="../Css/bootstrap.min.css">
    <link rel="stylesheet" href="../Css/allStyle.css">
    <link rel="stylesheet" href="../Css/sweetalert.css">
    <script src="../Js/jquery-1.12.4.min.js"></script>
    <script src="../Js/bootstrap.min.js"></script>
    <script src="../Js/vue.js"></script>
    <script src="../Js/sweetalert.min.js"></script>
    <!-- init the page -->
    <script src="../Js/myJs/problem.js"></script>
</head>
<body>
<img src="../Images/load.gif" alt="" class="load">
<script>$('.load').animate({'opacity':0.3});</script>
<div id="problem">
    <header>
        <div class="nav navbar-default userTopNav">
                <div class="navbar-header">
                    <div class="navbar-brand" style="font-size: 40px;"><a :href="brandLink">{{brand}}</a></div>
                </div>
            <div style="width: 400px;position:relative;top:8px;left: 100px;" class="pull-left">
                <div class="input-group">
                    <input type="text" v-model="searchContent" class="form-control" placeholder="题目编号/题目名称"/>
                    <span class="input-group-addon" style="padding: 0px;"><a href="#" @click="search()" class="btn btn-primary" style="width:80px;height:33px;border-radius: 0px;"><span class="glyphicon glyphicon-search" ></span></a></span>
                </div>
            </div>
            <div class="pull-right">
                <a href="#" class="btn btn-default submit_">我的提交</a>
                <a :href="admin.href" class="btn btn-default submit_" v-show="admin.is">后台管理</a>
            </div>
        </div>
    </header>

    <aside style="position: relative;">
        <section>
            <div class="leftNav">
                <div id="userImage" style="text-align: center;margin-bottom: 40px;">
                    <a href="#" @click="pp()"><img width="150px" height="150px" :src="imgSrc" alt="暂无图片" style="border-radius: 50%;"/></a>
                </div>
                <a v-for="(item,index) in menu"  :href="links[index]":class="{btn:true,leftNavBtn:true,navActive:nowIndex==index}" @click="nowIndex=index" role="button">
                    <span :class="icon[index]" style="padding-right: 10px;"></span>
                    <strong>{{item}}</strong>
                </a>
            </div>
        </section>
        <section>
            <div class="rightContent">
                <div class="problem">
                    <article class="article" v-for="(item,index) in problemTabs">
                        <div>
                            <img src="../Images/book.png" width="70px" height="70px" alt="" class="pull-left">
                        </div>
                        <div class="pull-left" style="margin-left: 20px;">
                            <a :href="item.link" style="font-size: large;"><strong>{{item.title}}</strong></a>
                            <div>{{item.content}}</div>
                            <div class="progress" style="width: 32vw;box-shadow: #444 0px 0px 5px;">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"  :aria-valuenow="problemTabs[index].difficulty" aria-valuemin="0" aria-valuemax="10" :style="'width:'+problemTabs[index].difficulty+'0%;'">
                                    difficulty:{{item.difficulty}}
                                </div>
                            </div>

                        </div>
                        <div>
                            <a class="btn btn-primary pull-right" :href="item.link">
                                problem
                                <span class="badge">{{item.problem}}</span>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </aside>
</div>
</body>

</html>