<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>problem</title>
    <link rel="stylesheet" href="../Css/bootstrap.min.css">
    <link rel="stylesheet" href="../Css/allStyle.css">
    <link rel="stylesheet" href="../Css/sweetalert.css">
    <script src="../Js/jquery-1.12.4.min.js"></script>
    <script src="../Js/bootstrap.min.js"></script>
    <script src="../Js/vue.js"></script>
    <script src="../Js/sweetalert.min.js"></script>
    <!-- init the page -->
    <script src="../Js/myJs/problems.js"></script>
    <style>

    </style>
</head>
<body>
<img src="../Images/load.gif" alt="" class="load">
<script>$('.load').animate({'opacity':0.3});</script>
<div id="problems">
    <header>
        <div class="nav navbar-default userTopNav">
            <div class="navbar-header">
                <div class="navbar-brand" style="font-size: 40px;"><a :href="brandLink">{{brand}}</a></div>
            </div>
            <div style="width: 400px;position:relative;top:8px;left: 100px;" class="pull-left">
                <div class="input-group">
                    <input type="text" v-model="searchContent" class="form-control" placeholder="题目编号/题目名称"/>
                    <span class="input-group-addon" style="padding: 0px;"><a href="#" @click="search()" class="btn btn-primary" style="width:80px;height:33px;border-radius: 0px;"><span class="glyphicon glyphicon-search" ></span></a></span>
                </div>
            </div>
            <div class="pull-right">
                <a href="#" class="btn btn-default submit_">我的提交</a>
                <a :href="admin.href" class="btn btn-default submit_" v-show="admin.is">后台管理</a>
            </div>
        </div>
    </header>

    <aside style="position: relative;">
        <section>
            <div class="leftNav">
                <div id="userImage" style="text-align: center;margin-bottom: 40px;">
                    <a href="#" @click="pp()"><img width="150px" height="150px" :src="imgSrc" alt="暂无图片" style="border-radius: 50%;"/></a>
                </div>
                <a v-for="(item,index) in menu"  :href="links[index]":class="{btn:true,leftNavBtn:true,navActive:nowIndex==index}" @click="nowIndex=index;if(nowIndex==6)exit_();" role="button">
                    <span :class="icon[index]" style="padding-right: 10px;"></span>
                    <strong>{{item}}</strong>
                </a>
            </div>
        </section>
        <section>
            <div class="rightContent">
                <div class="problems">
                    <section>
                        <table class="table table-striped">
                            <thead style="text-align: center;">
                                <tr>
                                    <th style="width: 10px;text-align: center;" v-html="tb_title[0]"></th>
                                    <th style="width:10px;">
                                        <span>{{tb_title[1]}}</span>
                                    </th>
                                    <th style="width: 800px;">
                                        <span>{{tb_title[2]}}</span>
                                    </th>
                                    <th style="width:150px;text-align: center">
                                        <span>{{tb_title[3]}}</span>
                                    </th>
                                    <th style="width:80px;">
                                        <span>{{tb_title[4]}}</span>
                                    </th>
                                    <th>
                                        <span>{{tb_title[5]}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,index) in tb_content">
                                    <td style="text-align: center;">
                                        <span class="glyphicon glyphicon-ok" style="color:green;" v-show="tb_content[index][0]=='pass'"></span>
                                        <span class="glyphicon glyphicon-minus" style="color:red;" v-show="tb_content[index][0]=='not_pass'"></span>
                                    </td>
                                    <!-- 动态生成链接 -->
                                    <td><a :href="'#/'+tb_content[index][1]">{{tb_content[index][1]}}</a></td>
                                    <td><a :href="'#/'+tb_content[index][1]">{{tb_content[index][2]}}</a></td>
                                    <td><span style="background: #94b3ff;border-radius: 5px;display: block;text-align: center;color: white;"><strong>{{tb_content[index][3]}}</strong></span></td>
                                    <td>{{tb_content[index][4]}}</td>
                                    <td>
                                        <div class="progress" style="width: 11vw;box-shadow: #444 0px 0px 5px;height: 20px;margin: 0px;">
                                            <div class="progress-bar progress-bar-striped active" aria-valuemin="0.00" aria-valuemax="100.00" :style="'width:'+tb_content[index][5]">
                                                <span style="color: #b1d1fd;"><strong>{{tb_content[index][5]}}</strong></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li :class="{disabled:page.pageNow==1}">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li v-for="item in page.pageNum" :class="{active:page.pageNow==item}"><a href="#">{{item}}</a></li>
                        <li :class="{disabled:page.pageNow==page.pageNum}">
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </aside>
</div>
</body>
</html>