<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>setting</title>
    <link rel="stylesheet" href="../Css/eui.css">
    <link rel="stylesheet" href="../Css/allStyle.css">
    <link rel="stylesheet" href="../Css/cropper.css">
    <link rel="stylesheet" href="../Css/font-awesome.min.css">
    <script src="../Js/jquery-1.12.4.min.js"></script>
    <script src="../Js/vue.js"></script>
    <script src="../Js/eui.js"></script>
    <script src="../Js/myJs/setting.js"></script>
    <script src="../Js/cropper.min.js"></script>
    <style>
       
        .el-tabs__content{height:500px;}
    </style>

</head>
<body>
<img src="../Images/load.gif" alt="" class="load">
<script>$('.load').animate({'opacity':0.3});</script>
<el-container id="setting">
    <el-header class="head" style="background-color: #F8F8F8;">
        <el-row>
            <el-col :span="4">
                <a :href="brandLink" class="brand">{{brand}}</a>
            </el-col>
            <el-col :span="5"  style="position: relative;top:5px;">
                <el-input
                        placeholder="请输入内容"
                        v-model="input1"
                        clearable>
                </el-input>
            </el-col>
            <el-col :span="1" class="search-btn" style="position: relative;top:5px;">
                <el-button type="primary" icon="search">搜索</el-button>
            </el-col>
            <el-col :span="14">
                <el-menu  class="el-menu-demo dropdown" mode="horizontal" @select="handleSelect" style="background-color: #F8F8F8;float:right;">
                    <el-submenu index="1">
                        <template slot="title">root</template>
                        <el-menu-item index="1-1">submission</el-menu-item>
                        <el-menu-item index="1-2">administration</el-menu-item>
                        <el-menu-item index="1-3">exit</el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-col>
        </el-row>
    </el-header>
    <el-container class="contain">
        <el-aside class="leftNav" style="width:205px;">
            <el-row>
                <el-col :span="24">
                    <div  style="text-align: center;margin-bottom: 40px;margin-top: 20px;">
                        <a href="#" @click="pp()"><img width="150px" height="150px" :src="imgSrc" alt="暂无图片" style="border-radius: 50%;"/></a>
                    </div>
                    <el-menu
                            class="el-menu-vertical-demo"
                            @select="handleSelect"
                            background-color="#1C2B36"
                            text-color="#447B81"
                            active-text-color="antiquewhite"
                    >
                        <el-menu-item index="1" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-list" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">题库</span>
                        </el-menu-item>

                        <el-menu-item index="2" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-bar-chart-o" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">排名</span>
                        </el-menu-item>

                        <el-menu-item index="3" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-hand-o-right" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">提交</span>
                        </el-menu-item>

                        <el-menu-item index="4" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-rocket" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">比赛</span>
                        </el-menu-item>

                        <el-menu-item index="5" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-question-circle" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">帮助</span>
                        </el-menu-item>

                        <el-menu-item index="6" style="text-align: center;font-weight: 700;font-size: 13px;">
                            <i class="fa fa-gears" style="font-size: 16px;position: relative;right:8px;"></i>
                            <span slot="title">设置</span>
                        </el-menu-item>

                    </el-menu>
                </el-col>
            </el-row>
        </el-aside>
        <el-main class="rightContent">
            <div style="box-shadow: #444 0px 0px 1px;">
                <el-tabs type="border-card">
                    <el-tab-pane>
                        <span slot="label"><i class="fa fa-file-picture-o"></i> Picture</span>
                        <div style="position: relative;top: 50px;margin-left:auto;margin-right:auto;width:300px;">
                            <div style="width:300px;height:300px;margin-bottom: 10px;border:1px solid black;">
                                <img :src="imageUrl" id="image_" style="width:300px;height:300px;">
                            </div>
                            <form enctype="multipart/form-data" id="uploadForm">
                                <input id="upload" type="file" name="file" style="width:0px;height: 0px;opacity: 0;"/>
                            </form>
                            <div class="pull-left">
                                <el-button id="uploadBtn" size="medium"  style="width:140px;height:34px;" @click="onloadBtn">Upload</el-button>
                            </div>
                            <div class="pull-right">
                                <el-button type="info" id="saveBtn" style="width:140px;height:34px;" size="medium" @click="saveBtn" disabled>Save</el-button>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane>
                        <span slot="label"><i class="fa fa-child"></i> Username</span>

                        <div style="width: 350px;text-align: center;position: relative;top: 120px;margin-left:auto;margin-right:auto;">
                            <div style="font-size: large;margin-bottom: 20px;color: #58666E;"><strong>modify your username</strong></div>
                            <div>
                                <el-input
                                        placeholder="New Uusername"
                                        v-model="input1"
                                        clearable>
                                </el-input>
                            </div>
                            <div style="margin-top: 20px;">
                                <el-button type="success" style="width:100%;">SAVE</el-button>
                            </div>
                            <div style="margin-top: 20px;">
                                <el-alert
                                        :closable="false"
                                        title="Attention:The username can only be English or _"
                                        type="warning">
                                </el-alert>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane>
                        <span slot="label"><i class="fa fa-user"></i> Profile</span>
                        <div style="width: 330px;text-align: center;position: relative;margin-left:auto;margin-right:auto;top: 40px;box-shadow: #444 0px 0px 3px;" >
                            <div style="padding: 10px;background-color: #23B7E5;color: #F0E9E7;font-size: large;">
                                Modify Profile
                            </div>
                            <div style="padding: 10px;">
                                <div class="input-group" style="margin-bottom: 10px;">
                                    <span class="input-group-addon"></span>
                                    <el-input
                                            placeholder="name"
                                            v-model="tab3.name"
                                            :maxlength=10
                                            clearable>
                                    </el-input>
                                </div>
                                <div class="input-group" style="margin-bottom: 10px;">
                                    <span class="input-group-addon"></span>
                                    <el-input
                                            placeholder="school"
                                            v-model="tab3.school"
                                            clearable>
                                    </el-input>
                                </div>

                                <div class="input-group" style="margin-bottom: 10px;">
                                    <el-date-picker
                                            v-model="tab3.date"
                                            type="date"
                                            placeholder="date"
                                            :editable=false
                                            style="width: 100%;">
                                    </el-date-picker>
                                </div>


                                <div class="input-group" style="margin-bottom: 10px;">
                                    <span class="input-group-addon"></span>
                                    <el-input
                                            placeholder="phone"
                                            v-model="tab3.phone"
                                            :maxlength=11
                                            clearable>
                                    </el-input>
                                </div>
                                <div class="input-group" style="margin-bottom: 10px;">
                                    <span class="input-group-addon"></span>
                                    <el-input
                                            placeholder="QQ"
                                            v-model="tab3.QQ"
                                            clearable>
                                    </el-input>
                                </div>
                                <div class="input-group" style="margin-bottom: 10px;">
                                    <span class="input-group-addon"></span>
                                    <el-select v-model="tab3.gender" placeholder="gender" style="width:100%;">
                                        <el-option
                                                v-for="item in options1"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </div>

                                <div class="input-group" style="margin-bottom: 10px;">
                                    <span class="input-group-addon"></span>
                                    <el-cascader
                                            expand-trigger="hover"
                                            :options="options2"
                                            v-model="tab3.address"
                                            size="small"
                                            @change="handleChange" style="width:100%;">
                                    </el-cascader>
                                </div>
                                <div>
                                    <el-button type="primary" size="large" style="width:100%;" native-type="submit">UPDATE</el-button>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane>
                        <span slot="label"><i class="fa fa-envelope-o"></i> Email</span>
                        <div style="width: 330px;text-align: center;position: relative;margin-left:auto;margin-right:auto;top: 50px;box-shadow: #444 0px 0px 3px;" >
                            <div style="padding: 10px;background-color: #23B7E5;color: #F0E9E7;font-size: large;">
                                Modify Email
                            </div>
                            <div style="padding: 10px;">
                                <div style="margin-bottom: 10px;">
                                    <el-input
                                            placeholder="name"
                                            v-model="tab3.name"
                                            clearable>
                                    </el-input>
                                </div>

                                <div style="margin-bottom: 10px;">
                                    <a href=""><img src="" alt="#" class="pull-left"></a>
                                </div>

                                <div>
                                    <el-button type="primary" size="large" style="width:100%;" native-type="submit">UPDATE</el-button>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane>
                        <span slot="label"><i class="fa fa-key"></i> Password</span>
                        <div style="width: 330px;text-align: center;position: relative;margin-left:auto;margin-right:auto;top: 50px;box-shadow: #444 0px 0px 3px;" >
                            <div style="padding: 10px;background-color: #23B7E5;color: #F0E9E7;font-size: large;">
                                Modify Password
                            </div>
                            <div style="padding: 10px;">
                                <div style="margin-bottom: 10px;">
                                    <el-input
                                            type="password"
                                            placeholder="old password"
                                            v-model="value"
                                            clearable>
                                    </el-input>
                                </div>

                                <div style="margin-bottom: 10px;">
                                    <el-input
                                            type="password"
                                            placeholder="new password"
                                            v-model="tab3.name"
                                            clearable>
                                    </el-input>
                                </div>

                                <div style="margin-bottom: 10px;">
                                    <el-input
                                            type="password"
                                            placeholder="input again"
                                            v-model="tab3.name"
                                            clearable>
                                    </el-input>
                                </div>

                                <div>
                                    <el-button type="primary" size="large" style="width:100%;" native-type="submit">UPDATE</el-button>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>

                </el-tabs>

            </div>
        </el-main>
    </el-container>

</el-container>
</body>

</html>