<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jsut.coder.dao.UserMapper">

    <select id="insertUser" parameterType="user">
        INSERT INTO user(userId,userName,userPwd,userEmail,userGrant)
        VALUES(#{userId},#{userName},#{userPwd},#{userEmail},#{userGrant});
    </select>
</mapper>
