<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsut.ecoder.dao.UserMapper">

    <insert id="insertUser" parameterType="user">
      INSERT INTO web_user(userName,userPwd,userEmail,createTime,lastLogin)
      VALUES(#{userName,jdbcType=VARCHAR},#{userPwd,jdbcType=VARCHAR},#{userEmail,jdbcType=VARCHAR},#{createTime},#{lastLogin})
    </insert>

    <sql id="USER">
        <trim suffixOverrides=",">
            <if test="userName != null">
                userName = #{userName},
            </if>
            <if test="userGrant != null">
                userGrant = #{userGrant},
            </if>
            <if test="isChange != null">
                isChange = #{isChange},
            </if>
        </trim>
    </sql>

    <update id="updateUser">
        UPDATE web_user
        SET <include refid="USER"/>
        WHERE userId = #{userId,jdbcType=INTEGER}
    </update>

    <select id="isExistUserByuserName" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM web_user u
        WHERE u.userName = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="selectUserByuserNameAndPwd" resultType="user" parameterType="user">
        SELECT u.userId,u.userName,u.isChange,u.userPwd,u.userEmail,u.userGrant,u.infoGender,u.infoSchoolName,u.infoSchoolNum,u.infoBlog,u.infoGithub,u.infoMotto,u.infoPhone,u.infoRealName
        FROM web_user u
        WHERE u.userName = #{userName,jdbcType=INTEGER} AND u.userPwd = #{userPwd,jdbcType=VARCHAR}
    </select>

    <select id="selectSubmissionByResult" resultType="int">
      SELECT COUNT(*)
        FROM web_submit_list
        WHERE userId = #{id,jdbcType=INTEGER} AND result = #{result,jdbcType=VARCHAR}
    </select>

    <resultMap id="userProblemMap" type="problemRecords">
        <id property="problemId" column="problemId"></id>
        <collection property="result" ofType="result">
            <id property="resultName" column="resultName"></id>
            <result property="total" column="total"></result>
        </collection>
    </resultMap>

    <select id="selectUserProblemsTotals" resultMap="userProblemMap">
        SELECT a.problemId
        FROM(SELECT problemId
        FROM web_problems
        LIMIT #{start,jdbcType=INTEGER}, #{step,jdbcType=INTEGER}) a
        LEFT JOIN web_submit_list b
        ON a.problemId = b.problemId
        LEFT JOIN web_user c
        ON b.userId = c.userId
        WHERE c.userName = #{userName,jdbcType=VARCHAR} AND b.result = #{type,jdbcType=VARCHAR}
        GROUP BY a.problemId
        ORDER BY a.problemId
    </select>

    <select id="selectUsers" resultType="int">
      SELECT COUNT(*)
      FROM web_user
    </select>

    <select id="isExistEmail" resultType="int">
      SELECT COUNT(*)
      FROM web_user
      WHERE userEmail = #{email,jdbcType=VARCHAR}
    </select>

    <resultMap id="judgeProblemMap" type="problemRecords">
        <id property="problemId" column="problemId"></id>
        <result property="problemInput" column="problemInput"></result>
        <result property="problemOutput" column="problemOutput"></result>
        <collection property="params" ofType="problemParams">
            <id property="languageId" column="languageId"></id>
            <result property="languageName" column="languageName"></result>
            <result property="problemMemory" column="problemMemory"></result>
            <result property="problemCpuTime" column="problemCpuTime"></result>
        </collection>
    </resultMap>

    <select id="selectJudgeProblemByIdAndLanguage" resultMap="judgeProblemMap">
        SELECT b.problemId,d.problemInput,d.problemOutput,c.languageId,c.languageName,b.problemMemory,b.problemCpuTime
        FROM (SELECT *
        FROM web_problems_language a
        WHERE a.problemId = #{id,jdbcType=INTEGER}) b
        LEFT JOIN web_language c
        ON b.languageId = c.languageId
        LEFT JOIN web_problems d
        ON b.problemId = d.problemId
        WHERE c.languageName = #{language,jdbcType=VARCHAR}
    </select>

    <insert id="insertJudgeSubmit" parameterType="submitsRecords" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO web_submit_list(userId,problemId,submitDate,lang,codes,result)
        VALUES(#{userId,jdbcType=INTEGER},#{problemId,jdbcType=INTEGER},#{submitDate},#{language,jdbcType=VARCHAR},#{codes},#{result,jdbcType=VARCHAR});
    </insert>

    <update id="updateJudgeSubmitResult">
        UPDATE web_submit_list
        SET result = #{result,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateJudgeSubmit">
        UPDATE web_submit_list
        SET
        <if test="result.output_user != null">
            output_user = #{result.output_user},
        </if>
        <if test="result.output_ans != null">
            output_ans = #{result.output_ans},
        </if>
        <if test="result.logs != null">
            returnInfo = #{result.logs},
        </if>
        result = #{result.judge_result,jdbcType=VARCHAR},
        cpuTime = #{result.cpu_time,jdbcType=INTEGER},
        memorySize = #{result.memory,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
