
*{list-style: none;margin:0px;padding:0px;font-family: Helvetica, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, Arial, sans-serif;}
a{text-decoration: none !important;}
/*scroll*/
    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {width: 8px;height: 8px;background-color: #F5F5F5; }
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);  border-radius: 10px;  background-color: #F5F5F5; }
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {  border-radius: 10px;  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  background-color: #555; }
body{overflow-y: hidden;min-width: 900px;}

.ecoder-panel{margin-top: 20px;margin-bottom: 10px;}
.ecoder-panel-head{font-size:20px;color:white;padding: 10px 15px;border:1px solid darkgray;background-color: #428bca;border-top-left-radius: 3px;border-top-right-radius: 3px; }
.ecoder-panel-content{font-size:15px;color:#333;padding:15px 15px;background-color: white;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.ecoder-btn-hover-shadow:hover{box-shadow: #C0C4CC 1px 1px 1px 1px;}

/*override class*/
.el-menu--popup-bottom-start{margin-top: 1px;}
.el-menu-item-group__title{padding:0px;}
.el-menu--collapse .el-menu .el-submenu, .el-menu--popup{min-width: 130px;}
.el-alert__title{font-size: 14px;}
.el-button--small, .el-button--small.is-round{padding:15px 30px;}
.el-table_1_column_1{text-align: center;}

/* index.html */
.shadow{box-shadow: #999 0px 0px 3px;border-radius: 5px;}
.navHeader{background-color: rgba(0,0,0,0);border: 0px;margin-top: 5px;padding:0px 20px;}
.mainFont{position: absolute;left:50%;bottom: 50%;font-size: 60px;width:1000px;margin-left:-500px;font-weight: normal;line-height: normal;font-variant: normal;text-align: center;}
.mainButton{position: absolute;left:50%;bottom: 20%;width:160px;margin-left:-80px;}
.s1{background-image: url("../Images/acm.jpg");background-size: cover;position: relative;}
.s2{background-image: url("../Images/2.jpg");background-size: cover;}
.load{  position: absolute; left:50%; margin-left: -327px; opacity: 0;z-index: 99999;}

/* login.html*/
#exterior{width:28vw;margin-top:25vh;margin-left: 36vw;overflow: hidden;}/*这里是控制可视窗口大小*/
#exterior .code{border: 1px solid rgb(204, 204, 204);border-radius: 4px 4px 4px 4px;}
#login{margin-left:-28vw;width:84vw;}/*这里控制内部位置*/
#login #form0,#login #form1,#login #form2{width:28vw;background-color: white;float: left;}
#login #form0 .font,#login #form1 .font,#login #form2 .font{font-size: large;}

/* main.html   */
#admin{opacity: 0;}
#admin .head{background-color: #F8F8F8}
#admin .head .brand{color:grey;font-size: 40px;position: relative;top:5px;left: 10px;}
#admin .head .el-input__inner{border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
#admin .head .el-button{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
#admin .contain > .leftNav{overflow: hidden;background-color: #1C2B36;}
#admin .contain > .leftNav .el-menu{width:206px;}
#admin .rightContent{min-width:702px;box-shadow: #444 0px 0px 1px;overflow-y: scroll;background-color: #bde7ff;}

#admin .server{margin: 15px 30px auto 30px;}
#admin .server .list{box-shadow: #444 0px 0px 1px;}
#admin .server .list .table-striped>thead>tr{  background-color: #e9e9e9;  }
#admin .server .list .table-striped>tbody>tr:nth-child(even){  background-color: white;}

/*account.html*/
#account{opacity: 0;}
#account .head{background-color: #F8F8F8}
#account .head .brand{color:grey;font-size: 40px;position: relative;top:5px;left: 10px;}
#account .head .el-input__inner{border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
#account .head .el-button{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
#account .contain > .leftNav{overflow: hidden;background-color: #1C2B36;}
#account .contain > .leftNav .el-menu{width:206px;}
#account .contain > .leftNav .el-menu-item{height: 36px;line-height: 36px;}
#account .rightContent{min-width:702px;box-shadow: #444 0px 0px 1px;overflow-y: scroll;background-color: #bde7ff;}
#account .rightContent .el-collapse{border: 1px solid #428bca;border-radius: 3px;}
#account .rightContent .el-collapse-item__wrap{border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;border-bottom: 1px solid #428bca;padding: 15px 15px 0px 15px;}
#account .rightContent .el-collapse-item > div:nth-child(1) > div{background-color: #428bca;padding: 0px 15px; }
#account .rightContent a:hover{text-decoration: underline !important;}

#account .page-header{border-bottom: 1px solid darkgray;padding-left: 20px;margin-top: 0px;}
#account .page-header .word{background-color:white;border-radius: 5px;}


/*problems.html*/
#problems{opacity: 0;}
#problems .el-input__inner{border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
#problems .el-button{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
#problems .head .brand{color:grey;font-size: 40px;position: relative;top:5px;left: 10px;}
#problems .contain > .leftNav{overflow: hidden;background-color: #1C2B36;}
#problems .contain > .leftNav .el-menu{width:206px;}
#problems .contain > .leftNav .el-menu-item{height: 36px;line-height: 36px;}
#problems .rightContent{padding:15px 30px;min-width:702px;box-shadow: #444 0px 0px 1px;overflow-y: scroll;background-color: #bde7ff;}
#problems .rightContent a:hover{text-decoration: underline !important;}
#problems .rightContent .head{height:60px;background-color:#f1f8ff;}
#problems .rightContent .head .title{float:left;position: relative;top:8px;left:30px;font-size: x-large;}
#problems .rightContent .head .btn_{position: relative;top:8px;right: 30px;border-bottom-left-radius: 0px;border-top-left-radius: 0px;border-left: 0px;}




#rank{opacity: 0;}
#rank .el-input__inner{border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
#rank .el-button{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
#rank .head{background-color: #F8F8F8}
#rank .head .brand{color:grey;font-size: 40px;position: relative;top:5px;left: 10px;}
#rank .contain > .leftNav{overflow: hidden;background-color: #1C2B36;}
#rank .contain > .leftNav .el-menu{width:206px;}
#rank .contain > .leftNav .el-menu-item{height: 36px;line-height: 36px;}
#rank .rightContent{padding:15px 30px;min-width:702px;width:1161px;box-shadow: #444 0px 0px 1px;overflow-y: scroll;background-color: #bde7ff;}
#rank .rightContent a:hover{text-decoration: underline !important;}
#rank .rightContent .head{height:60px;background-color:#f1f8ff;}
#rank .rightContent .head .title{float:left;position: relative;top:8px;left:30px;font-size: x-large;}
#rank .rightContent .head .btn_{position: relative;top:8px;right: 30px;border-bottom-left-radius: 0px;border-top-left-radius: 0px;border-left: 0px;}


#submit{opacity: 0;}
#submit .el-input__inner{border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
#submit .el-button{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
#submit .head{background-color: #F8F8F8}
#submit .head .brand{color:grey;font-size: 40px;position: relative;top:5px;left: 10px;}
#submit .contain > .leftNav{overflow: hidden;background-color: #1C2B36;}
#submit .contain > .leftNav .el-menu{width:206px;}
#submit .contain > .leftNav .el-menu-item{height: 36px;line-height: 36px;}
#submit .rightContent{padding:15px 30px;min-width:702px;box-shadow: #444 0px 0px 1px;overflow-y: scroll;background-color: #bde7ff;}
#submit .rightContent a:hover{text-decoration: underline !important;}
#submit .rightContent .head{height:60px;background-color:#f1f8ff;}
#submit .rightContent .head .title{float:left;position: relative;top:8px;left:30px;font-size: x-large;}
#submit .rightContent .head .btn_{position: relative;top:8px;right: 30px;border-bottom-left-radius: 0px;border-top-left-radius: 0px;border-left: 0px;}



#contest{opacity: 0;}
#contest .el-input__inner{border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
#contest .el-button{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
#contest .head .brand{color:grey;font-size: 40px;position: relative;top:5px;left: 10px;}
#contest .contain > .leftNav{overflow: hidden;background-color: #1C2B36;}
#contest .contain > .leftNav .el-menu{width:206px;}
#contest .contain > .leftNav .el-menu-item{height: 36px;line-height: 36px;}
#contest .rightContent{padding:15px 30px;min-width:702px;box-shadow: #444 0px 0px 1px;overflow-y: scroll;background-color: #bde7ff;}
#contest .rightContent a:hover{text-decoration: underline !important;}
#contest .rightContent .head{height:60px;background-color:#f1f8ff;}
#contest .rightContent .head .title{float:left;position: relative;top:8px;left:30px;font-size: x-large;}
#contest .rightContent .head .btn_{position: relative;top:8px;right: 30px;border-bottom-left-radius: 0px;border-top-left-radius: 0px;border-left: 0px;}

#contest .rightContent .content{background-color: #F1F8FF;}
#contest .rightContent .content .row_{height: 90px;}
#contest .rightContent .content .row_ a{color: #383333;}
#contest .rightContent .content .row_ a:hover{color: #00a8c6;}
#contest .rightContent .pagination{margin:0px 30px auto 30px;}



#setting{opacity: 0;}
#setting{opacity: 0;}
#setting .head .brand{color:grey;font-size: 40px;position: relative;top:5px;left: 10px;}
#setting .head .el-input__inner{border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
#setting .head .el-button{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
#setting .contain > .leftNav{overflow: hidden;background-color: #1C2B36;}
#setting .contain > .leftNav .el-menu{width:206px;}
#setting .contain > .leftNav .el-menu-item{height: 36px;line-height: 36px;}
#setting .rightContent{padding:15px 30px;min-width:702px;box-shadow: #444 0px 0px 1px;overflow-y: scroll;background-color: #bde7ff;}
#setting .rightContent a:hover{text-decoration: underline !important;}


#coding{opacity: 0;}
#coding .head{background-color: #F8F8F8}
#coding .head .brand{color:grey;font-size: 40px;position: relative;top:5px;left: 10px;}
#coding .head .el-input__inner{border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
#coding .head .el-button{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
#coding .contain > .leftNav{overflow: hidden;background-color: #1C2B36;}
#coding .contain > .leftNav .el-menu{width:206px;}
#coding .contain > .leftNav .el-menu-item{height: 36px;line-height: 36px;}
#coding .rightContent{padding:0px;min-width:702px;box-shadow: #444 0px 0px 1px;overflow-y: scroll;background-color: #bde7ff;}
#coding .rightContent a:hover{text-decoration: underline !important;}

