<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userConfig</title>
    <link rel="stylesheet" href="../Css/eui.css">
    <link rel="stylesheet" href="../Css/font-awesome.min.css">
    <link rel="stylesheet" href="../Css/allStyle.css">
    <script src="../Js/jquery-1.12.4.min.js"></script>
    <script src="../Js/vue.js"></script>
    <script src="../Js/eui.js"></script>
    <script src="../Js/myJs/userConfig.js"></script>
    <style>
        .el-table_1_column_1{text-align: left;}
        .el-table_1_column_9{text-align: center !important;}
    </style>
</head>
<body>
<img src="../Images/load.gif" alt="" class="load">
<script>$('.load').animate({'opacity':0.3});</script>
<el-container id="userConfig">
    <el-header class="head" style="background-color: #F8F8F8;">
        <el-row>
            <el-col :span="4">
                <a :href="brandLink" class="brand">{{brand}}</a>
            </el-col>
            <el-col :span="5"  style="position: relative;top:5px;">
                <el-input
                        placeholder="请输入内容"
                        v-model="input10"
                        clearable>
                </el-input>
            </el-col>
            <el-col :span="1" class="search-btn" style="position: relative;top:5px;">
                <el-button type="primary" icon="el-icon-search">搜索</el-button>
            </el-col>
            <el-col :span="14">
                <el-menu  class="el-menu-demo dropdown" mode="horizontal" @select="handleSelect" style="background-color: #F8F8F8;float:right;">
                    <el-submenu index="1">
                        <template slot="title">root</template>
                        <el-menu-item index="1-1">submission</el-menu-item>
                        <el-menu-item index="1-2">administration</el-menu-item>
                        <el-menu-item index="1-3">exit</el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-col>
        </el-row>
    </el-header>

    <el-container class="contain">
        <el-aside class="leftNav" style="width:205px;">
            <el-row>
                <el-col :span="24">
                    <el-menu
                            default-active="1-2"
                            class="el-menu-vertical-demo"
                            @select="handleSelect"
                            background-color="#1C2B36"
                            text-color="#fff"
                    >
                        <el-submenu index="1">
                            <template slot="title">
                                <i class="el-icon-setting"></i>
                                <span>System Manage</span>
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="1-1">
                                    <span slot="title">Server Config</span>
                                </el-menu-item>

                                <el-menu-item index="1-2">
                                    <span slot="title">User Config</span>
                                </el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>

                        <el-submenu index="2">
                            <template slot="title">
                                <i class="el-icon-news"></i>
                                <span>Notice</span>
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="2-1">
                                    <span slot="title">Notice Config</span>
                                </el-menu-item>

                            </el-menu-item-group>
                        </el-submenu>

                        <el-submenu index="3">
                            <template slot="title">
                                <i class="el-icon-edit-outline"></i>
                                <span>Problem</span>
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="3-1">
                                    <span slot="title">Problem List</span>
                                </el-menu-item>

                                <el-menu-item index="3-2">
                                    <span slot="title">Create Problem</span>
                                </el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>

                        <el-submenu index="4">
                            <template slot="title">
                                <i class="el-icon-service"></i>
                                <span>Contest</span>
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="4-1">
                                    <span slot="title">Contest Info</span>
                                </el-menu-item>

                                <el-menu-item index="4-2">
                                    <span slot="title">Create Contest</span>
                                </el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>

                    </el-menu>
                </el-col>
            </el-row>
        </el-aside>
        <el-main class="rightContent">
            <el-row>
                <el-row class="head" style="border-top-left-radius: 3px;border-top-right-radius: 3px;">
                    <div style="position: relative;top:8px;lef:0px;" class="pull-left">
                        <div class="title"><span>{{title}}</span></div>
                    </div>
                    <div style="position: relative;top:10px;" class="pull-right">
                        <el-col :span="16">
                            <el-input
                                    placeholder="请输入内容"
                                    v-model="input1"
                                    size="medium"
                                    clearable>
                            </el-input>
                        </el-col>
                        <el-col :span="1" class="search-btn">
                            <el-button size="medium" icon="search">搜索</el-button>
                        </el-col>
                    </div>

                </el-row >
                <el-row>
                    <template>
                        <el-table
                                ref="multipleTable"
                                :data="tableData3"
                                tooltip-effect="dark"
                                style="width: 100%;"
                                @selection-change="handleSelectionChange">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column
                                    prop="id"
                                    label="ID"
                                    width="55">
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="Name"
                                    width="140">
                            </el-table-column>
                            <el-table-column
                                    prop="createTime"
                                    label="Create Time"
                                    width="160">
                            </el-table-column>
                            <el-table-column
                                    prop="lastLogin"
                                    label="Last Login"
                                    width="160">
                            </el-table-column>
                            <el-table-column
                                    prop="realName"
                                    label="Real Name"
                                    width="140">
                            </el-table-column>
                            <el-table-column
                                    prop="email"
                                    label="Email"
                                    width="170">
                            </el-table-column>
                            <el-table-column
                                    prop="grant"
                                    label="Grant"
                                    width="100">
                            </el-table-column>
                            <el-table-column
                                    fixed="right"
                                    label="Option"
                                    width="120">
                                <template slot-scope="scope">
                                    <el-button
                                            @click.native.prevent="open3(scope.$index, tableData3)"
                                            icon="el-icon-edit"
                                            style="padding:8px 15px;"
                                            size="small">
                                        edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </el-button><br/>
                                    <el-button
                                            @click.native.prevent="deleteRow(scope.$index, tableData3)"
                                            icon="el-icon-delete"
                                            style="padding:8px 15px;"
                                            size="small">
                                        delete
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-row>
            </el-row>
            <el-row>
                <div class="block pull-right">
                    <el-pagination
                            background
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page.sync="currentPage3"
                            :page-size="100"
                            layout="prev, pager, next, jumper"
                            :total="1000">
                    </el-pagination>
                </div>
            </el-row>
        </el-main>
    </el-container>

</el-container>
</body>
</html>